@model DKTech.Models.Cart

@{
    // Sets the title of the page
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cart</h4>
    <hr />
    <dl class="row">
        <!-- Displaying the Quantity of items in the cart -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <!-- Displaying the Total Price of the cart -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

        <!-- Displaying the Customer ID associated with the cart -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerID)
        </dd>
    </dl>
</div>

<div>
    <!-- Link to edit the current cart details, passing the CartID as a route parameter -->
    <a asp-action="Edit" asp-route-id="@Model?.CartID">Edit</a> |
    <!-- Link to navigate back to the list of carts -->
    <a asp-action="Index">Back to List</a>
</div>

<style>
    /* Custom styles for the body */
    body {
        font-family: Cambria, serif; /* Font style */
        color: black; /* Font color */
    }
</style>
