@model DKTech.Models.Customer

@{
    // Sets the title of the page to "Details"
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <!-- Displaying Last Name -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Last_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Last_Name)
        </dd>

        <!-- Displaying First Name -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstMidName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstMidName)
        </dd>

        <!-- Displaying Email -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <!-- Displaying Order Date -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
    </dl>
</div>

<div>
    <!-- Link to edit the customer details -->
    <a asp-action="Edit" asp-route-id="@Model?.CustomerID">Edit</a> |
    <!-- Link to navigate back to the customer list -->
    <a asp-action="Index">Back to List</a>
</div>

<style>
    /* Custom styles for the body */
    body {
        font-family: Cambria, serif; /* Font style */
        color: black; /* Font color */
    }
</style>
